

@model Placements_Model.Models.Student
<div class="modal-header bg-primary">

    <h4 class="modal-title text-light">Student Details</h4>
    <button type="button" class="close btn btn-light" id="closemodal1" data-dismiss="modal" aria-label="Close">
        x
    </button>
</div>
<div class="modal-body">
    <div class="row">

        <div class="col">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.StudentId):
                </dt>


                @Html.DisplayFor(model => model.StudentId)



                <dt>
                    @Html.DisplayNameFor(model => model.StudentName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StudentName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DoB)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DoB)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Mobile)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Mobile)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Branch)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Branch)
                </dd>
            </dl>
        </div>
        <div class="col">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Cgpa)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Cgpa)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Percentage)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Percentage)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Backlogs)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Backlogs)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsFessPaid)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsFessPaid)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsPlaced)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsPlaced)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Package)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Package)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Company)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Company)
                </dd>
            </dl>
        </div>

    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary"
            data-dismiss="modal" id="closemodal">
        Close
    </button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js">

</script>
<script>
   
          $('#closemodal').click(function () {
              $('#myModal').modal('hide');

          });

          $('#closemodal1').click(function () {
              $('#myModal').modal('hide');

          });
    
</script>